{% include 'navbar.html' %}
{% load static %}
{% block content %}

<div class="contenedorConf">

    <div class="confBorrar">
        <h1>Crear Cliente</h1>

        <p>El cliente no existe. ¿Desea crearlo?</p>
        <form method="post">
            {% csrf_token %}
            <div class="contenedorBotones">
                <a href="/clientes/nuevo_cliente_modif/" class="botonSecundario">Aceptar</a> 
                <a href="{% url 'nuevo_reserva' %}" class="botonSecundario">Cancelar</a>
            </div>
        </form>
    </div>

</div>

{% endblock %}